<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/foundation.css">
    <link rel="stylesheet" href="/public/css/app.css">
    {% block head %}
    <title>Udacity Blog</title>
    {% endblock %}
</head>
<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        {% block auth_state %}
        {% endblock %}
    </div>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
<script src="/public/js/vendor/jquery.js"></script>
<script src="/public/js/vendor/what-input.js"></script>
<script src="/public/js/vendor/foundation.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>