{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="small-12">
        <h1 class="post-title text-center">{{context.post.title}}</h1>
        <p class="post-submitter text-center">Written by {{context.post.submitter}} | {{context.post.submitted | post_age}}</p>
    </div>

    <div class="small-9 small-centered column">
        {% for paragraph in context.post.content.split("\n") %}
        <p class="post-content text-justify">{{paragraph}}</p>
        {% endfor %}
    </div>
</div>
<hr>
<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">Comments</h2>
    </div>
</div>
{% for comment in context.comments %}
{% if comment.key.integer_id() == context.edit_comment_id %}

<div class="row comments">
    <div class="small-6 small-centered column editable-comment">
        <form action="/posts/{{context.post.key.integer_id()}}/comments/{{comment.key.integer_id()}}" method="POST">
            <textarea name="content" rows="5" class="comment-textarea">{{comment.content}}</textarea>
            <input type="submit" class="button" value="Save">
            <a class="button" href="/posts/{{context.post.key.integer_id()}}">Cancel</a>
        </form>
    </div>
</div>

{% else %}

<div class="row comments">
    <div class="small-6 small-centered column uneditable-comment">
        <h6 class="comment-metadata">{{comment.submitter}} on {{comment.submitted | post_age}}</h6>
        <p class="comment-content">{{comment.content}}</p>
    </div>
</div>

{% endif %}

{% endfor %}

{% endblock %}