{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="small-6 small-centered column">
        <h1 class="post-likes">{{context.post.likes}}</h1>
        <h1 class="post-title">{{context.post.title}}</h1>
        <p class="post-submitter">By {{context.post.submitter}} <em>{{context.post.submitted | post_age}}</em></p>
        <p class="post-content">{{context.post.content}}</p>
        {% if context.post.submitter == context.current_user %}
        <a class="post-edit" href="/posts/{{context.post.key.integer_id()}}/edit">Edit</a> <a class="post-delete" href="/posts/{{context.post.key.integer_id()}}/delete">Delete</a>
        {% elif context.current_user %}
        <a class="post-like" href="/posts/{{context.post.key.integer_id()}}/like">
            {%- if context.has_liked -%}
            Unlike
            {%- else -%}
            Like
            {%- endif -%}
        </a>
        {% endif %}
    </div>
</div>
{% for comment in context.comments %}

<div class="row">
    <div class="small-6 small-centered column comment" id="{{comment.key.integer_id()}}">
        <h6 class="comment-metadata">{{comment.submitter}} on {{comment.submitted}}</h6>
        <p class="comment-content">{{comment.content}}</p>
        {% if comment.submitter == context.current_user %}
        <a class="comment-options" href="/posts/{{context.post.key.integer_id()}}/comments/{{comment.key.integer_id()}}/edit">Edit</a> <a href="/posts/{{context.post.key.integer_id()}}/comments/{{comment.key.integer_id()}}/delete">Delete</a>
        {% endif %}
    </div>

</div>

{% endfor %}
<div class="row">
    <div class="small-6 small-centered column">
        <form action="/posts/{{context.post.key.integer_id()}}/comments" method="POST">
            <textarea name="content"></textarea>
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}