{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div class="post row" id="{{post.key.id()}}">
    <div class="small-8 column small-centered">
        <h2 class="votes">{{post.votes}}</h2>
        <h2 class="title-header"><a class="title-anchor" href="/posts/{{post.key.id()}}">{{ post.title }}</a></h2>
        <h3 class="submission-info">Submitted by {{ post.submitter }} on {{post.submitted | post_age}}</h3>
        <p class="content">{{ post.content }}</p>
    </div>
</div>

{% endfor %}

{% endblock %}

{% block auth_state %}
{% include "auth-state.html" %}
{% endblock %}